Body{
  Background-color: rgb(255, 223, 223);
  padding: 100px;
  color: #355465;
  background-image: url(images/tile.png);
}

a { 
  color: #612c2c;
  text-decoration: none;
}

a:hover { color: #b23c3c; }
